h1 {
    color: red;
    text-decoration:none;
    background-color: aquamarine;
}
body{
    background-color: pink;
}
button{
    background-color:red;

}
.para{
    text-align: justify;
    font-style: italic;
    color : blue;
}